.sContainer{
	height: 200px;
	/*width: calc(100% - 180px);*/
}
.sContainer .sElements{
	padding: 0px;
	margin: 0px;
}

.sContainer .sElements li{
	position : relative;
	display : inline-block;
	padding-right: 10px;
}
.sContainer .sElements li div{
	height : 200px;
}
.nextButton{
	position: absolute;
	right: 0px;
	float: left;
	display: inline-block;
	height: 122px;
	width: 80px;
	padding-top: 78px;
	z-index: 100;
	background: rgba(140,140,140,0.2);
}
.nextButton:hover{
	background: rgba(180,180,180,0.5);
}
.nextButton img{
	opacity: 0.4;
}
.nextButton:hover img{
	opacity:1;
}

.prevButton{
	position: absolute;
	float: left;
	display: inline-block;
	height: 122px;
	width: 80px;
	padding-top: 78px;
	z-index: 100;
	background: rgba(140,140,140,0.2);
}
.prevButton:hover{
	background: rgba(180,180,180,0.5);
}
.prevButton img{
	opacity: 0.4;
}
.prevButton:hover img{
	opacity:1;
}
.MasterContainer{
	width: 100%;
	overflow: hidden;
	background: rgb(242,242,242);
}
.contenidoExtra{
	position: relative;
	background: #212121;
	margin: 0px;
	/*top: -22px;*/
}
.closeIMG{
	position: absolute;
	right: 10px;
	top: 10px;
}
.closeIMG img{
	width: 20px;
	opacity: 0.1;
}
.closeIMG img:hover{
	width: 20px;
	opacity: .7;
}